<html>
<head>
    <title>Card details</title>
</head>

<body>
<h1 align="center">Clipper Makes Travel Easy</h1>

<p> Card Id is {{cardId}}</p>
<p> Balance is {{balance}}</p>
<p> Expiry is {{expiry}}</p>



</body>
</html>
